{% extends "_layouts/master.twig" %}

{%- block headerContent -%}
	<div class="home-header">
		{% if yaml.BannerHeadline %}
			<h1 class="home-header__title">{{ yaml.BannerHeadline }}</h1>
		{% endif %}
		<div class="home-header__row">
			<div class="home-header__left-col">
				<img src="{{ yaml.PrimaryBannerImage }}" class="computer-left-align">
			</div>
			<div class="home-header__right-col">
				<h2 class="home-header__subtitle">{{ yaml.BannerSubHeading }}</h2>
				<h3 class="home-header__subtitle2">{{ yaml.BannerSubHeading2 }}</h3>
				<p class="home-header__content">{{ yaml.BannerContent }}</p>
				<a href="{{ yaml.BannerActionLink }}" class="button button--rounded home-header__action-button">{{ yaml.BannerActionButton }} &raquo;</a>
			</div>
		</div>
	</div>
{%- endblock -%}

{%- block content -%}
	{% for key,item in yaml.Items %}
		<div class="container site-inner-content home-page-content{% if loop.index is even %} gray-background{% endif %}">
			<div class="home-page-content__inner">
				<h2 class="home-page-content__heading">{{ item.title }}</h2>
				{% if key == "news" %}
					<div class="home-page-content__latest-news">
						{% set news = listing({
							path: "news",
							limit: 2
						}) %}
						{% for newsItem in news %}
							<div class="home-page-content__latest-news-item{% if not loop.last %} home-page-content__latest-news-item--padded{% endif %}">
								<h3 class="home-page-content__latest-news-heading">
									<a href="/news/{{ newsItem.slug }}">
										{{ newsItem.Title }}
									</a>
								</h3>
								<p>{{ newsItem.body|striptags|truncate(300, true)|raw }}</p>
								<div class="centered">
									<a href="/news/{{ newsItem.slug }}" class="button button--rounded button--rounded--hollow">
										Read Entry »
									</a>
								</div>
							</div>
						{% endfor %}
					</div>
				{% elseif item.style == "centered" %}
					<div class="home-page-content__latest-news">
						<div class="home-page-content__latest-news-item">
							{{ item.text|markdown|raw }}
						</div>
					</div>
				{% else %}
					<div class="{% if loop.index is even %}home-page-content__left-image{% else %}home-page-content__right-image{% endif %}">
						<img src="{{ item.image }}">
					</div>
					<div class="{% if loop.index is even %}home-page-content__right-content{% else %}home-page-content__left-content{% endif %}">
						{{ item.text|markdown|raw }}
					</div>
				{% endif %}
			</div>
		</div>
	{% endfor %}
{%- endblock -%}
